<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= current_page.data.title || "CU Liberty in North Korea" %></title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="icon" href="favicon.ico" type="image/icon">
        <link rel="shortcut icon" href="favicon.ico" type="image/icon">

        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">

        <!-- Custom styles -->
        <link href="css/main.css" rel="stylesheet">
    </head>

    <body>
        <%= partial "header" %>
        <%= yield %>
        <%= partial "footer" %>

        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="js/bootstrap.min.js"></script>

        <% if content_for?(:js) %>
            <%= yield_content :js %>
        <% end %>
    </body>
</html>
