<div class="container w">
  <div class="row centered">
    <h1>2013-2014 Executive Board</h1>
    <br>
    <div id="exec">
      <% data.members.exec.each_slice(4) do |slice| %>
        <div class="row">
          <% slice.each do |member| %>
            <div class="col-sm-3">
              <%= image_tag (member.image or "img/logos/link_logo.jpg"), class:"img-thumbnail" %><br>
              <h4><%= member.name %></h4>
              <b><%= member.position %></b>
              <p><%= member.description %></p>
            </div><!-- col-lg-3 -->
          <% end %>
        </div>
      <% end %>
    </div>
  </div><!-- row -->
  <br>
  <br>
  <div class="row centered">
    <h1>Organizational Committee Members</h1>
    <br>
    <div id="ocm">
      <% data.members.ocm.each_slice(4) do |slice| %>
        <div class="row">
          <% slice.each do |member| %>
            <div class="col-sm-3">
              <%= image_tag (member.image or "img/logos/link_logo.jpg"), class:"img-thumbnail" %><br>
              <h4><%= member.name %></h4>
              <p><%= member.description %></p>
            </div><!-- col-lg-3 -->
          <% end %>
        </div>
      <% end %>
    </div>
  </div><!-- row -->
</div><!-- container -->