---
title: Members | CU Liberty in North Korea
---

<div id="members">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-10 col-lg-offset-1">
      <!-- place text -->
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- headerwrap -->

<div class="container w">
  <div class="row centered">
    <div id="exec">
      <h1>2013-2014 Executive Board</h1>
      <!-- add 4 e-board members per row -->
      <% data.members.exec.each_slice(4) do |slice| %>
        <div class="row">
          <% slice.each do |member| %>
            <div class="col-sm-3">
               <%= tag :img, src: (member.image or 'img/logos/link_logo.jpg'), class:"member-thumbnail" %><br>
              <h4><%= member.name %></h4>
              <b><%= member.position %></b>
              <p><%= member.description %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div><!-- row -->
  <br>
  <hr>
  <div class="row centered">
    <div id="ocm">
      <h1>Organizational Committee Members</h1>
      <!-- add 4 OCMs per row -->
      <% data.members.ocm.each_slice(4) do |slice| %>
        <div class="row">
          <% slice.each do |member| %>
            <div class="col-sm-3">
              <%= tag :img, src: (member.image or 'img/logos/link_logo.jpg'), class:"member-thumbnail" %><br>
              <h4><%= member.name %></h4>
              <p><%= member.description %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div><!-- row -->
</div><!-- container -->